<nav class="navbar navbar-expand-lg navbar-dark data-bs-theme">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active mx2" aria-current="page" href="/"
            >{{ subtitulo }}</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registro/">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sesion/">Iniciar sesion</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categorías
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/historia/"
                >Historia</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/fantasia/"
                >Fantasia</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/manuales/"
                >Manuales</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/novelas/"
                >Novelas</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/psicologia/">Psicologia</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>